.heand_toch {
    position: absolute;
    margin: -90px 0 0 0;
    left: 249px;
    z-index: -1;
}

.white_dat {
    min-height: 8px;
    min-width: 8px;
    background: linear-gradient(302.82deg, #ffffff 10.6%, #8a8a8a 83.22%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.41);
    border-radius: 50%;
    border-color: 2px solid
        linear-gradient(302.82deg, #8a8a8a 83.22%, #ffffff 10.6%);
    margin: 0 20px;
}

.text_inline_column {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.target_culumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.target_block {
    background: rgba(255, 255, 255, 0.751);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px 20px 20px 0;
    margin: 4px 0;
    display: flex;
    align-items: center;
    width: 822px;
    max-height: 70px;
}

.target_block:first-child {
    margin-top: 0;
}

.target_block:last-child {
    margin-bottom: 0;
}

.target_block {
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px 20px 20px 0;
    margin: 4px 0;
    display: flex;
    align-items: center;
    width: 822px;
    max-height: 70px;
}

.target_block:first-child {
    margin-top: 0;
}

.target_block:last-child {
    margin-bottom: 0;
}
