.first_title_blocks {
  font-family: "Play", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;

  color: #ffffff;

  /* text-shadow: 0px 0px 4px #ffffff; */
  margin: 70px 0 60px;
  
}


.bgimage {
    position: absolute;
    z-index: -1;
    right: -38px;
    top: 256px;
    height: 616px;
  }
  .industry_text_row {
    max-width: 615px;
    margin: 30px 0;
  }
  .industry_text_row:first-child {
    margin-top: 0;
  }
  
  .industry_text_row:last-child {
    margin-bottom: 0;
  }