.graybg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}
.blocks_container {
  padding: 70px 0 30px;
}

.left_container {
    padding: 0 751px 0 0;
}

.container_education {
    display: flex;
    flex-direction: column;
    min-width: 390px;
    margin-right: 100px;
}

.space-between_colum {
    margin: 0px 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.space-between_colum:first-child {
    margin-left: 0;
}
.space-between_colum:last-child {
    margin-right: 0;
}

.column_courses_black {
  transition: 0.9s;
  /* margin: 0px 12.5px; */
    padding: 23px 23px;
    border-radius: 20px;
    background: #000000;
    width: 170px;
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column_courses_white {
  transition: 0.5s;
   /*  margin: 0px 12.5px; */
    padding: 23px 23px;
    border-radius: 20px;
    background: #e1e1e1;
    width: 170px;
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scale(1.05);
}
/* .column_courses_white:first-child {
  margin-left: 0;
}
.column_courses_white:last-child {
  margin-right: 0;
} */

.up_text_column_courses_white {
  transition: 0.9s;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* font-family: "Play";
    font-weight: 400;
    font-size: 17px; */
    line-height: 21px;
    /* or 91% */
    color: #ffffff;
}

.up_text_column_courses_black {
  transition: 0.5s;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* font-family: "Play";
    font-weight: 400;
    font-size: 17px; */
    line-height: 21px;
    /* or 91% */
    color: #000000;
}

.down_text_column_courses_white {
  transition: 0.9s;
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;

    color: #ffffff;
}

.down_text_column_courses_black {
  transition: 0.5s;
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;

    color: #000000;
}
