/* .space_between_culumn {
    padding: 0 48px;
}

.space_between_culumn:first-child {
    padding-left: 0;
}

.space_between_culumn:last-child {
    padding-right: 0;
} */
.industry_text_row {
    max-width: ;
    margin: 30px 0;
  }
  .industry_text_row:first-child {
    margin-top: 0;
  }
  
  .industry_text_row:last-child {
    margin-bottom: 0;
  }

.left_text_row {
    /* display: inherit; */
    /* flex-direction: column; */
    width: 100%;
}

.petals {
    display: inherit;
    flex-wrap: wrap;
    width: 200%;
    /* margin-left: 5%; */
}
.blur {
    /* display: inherit; */
    backdrop-filter: blur(0.5px);
    /* padding: -30px 0 ; */
    /* height: 100%; */
    /* display: block; */
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.627) 0%, rgba(0, 0, 0, 0.816) 34.9%, rgba(0, 0, 0, 0) 48.96%, rgba(0, 0, 0, 0.1) 65.1%);

    /* z-index: -1; */
    /* width: 0px; */
    display: flex;
    
}
.vertical__column_item {
    overflow: hidden;
    /* display: block; */
    height: 48%;
    width: 48%;
    /* padding: 30px 30px; */
    /* margin: 0px 15px; */
    border-radius: 20px;
    /* background: #564646; */
    /* width: 40%; */
    /* width: 20%; */
    margin: 1%;
    /* background-color: #ffffff; */
    /* backdrop-filter: blur(3px); */
    
    /* backdrop-filter: blur(3px); */
}
.img1 {
    background:url(../images/1BGBlock.png) center center/cover no-repeat, #564646;
}
.img2 {
    background:url(../images/2BGBlock.png) center center/cover no-repeat, #564646;
}
.img3 {
    background:url(../images/3BGBlock.png) center center/cover no-repeat, #564646;
}
.img4 {
    background:url(../images/4BGBlock.png) center center/cover no-repeat, #564646;
    background-position: bottom;
}




.achive_culumn_text {
    text-align: end;
    top: 40%;
    display: inline;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    padding: 15px 30px;

    color: #ffffff;

}

.text_row_middle {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin: 30px 0 30px;
}

.block_image {
    /* height: 100px; */
    width: 100%;
}