.header {
    background: linear-gradient(180deg, #E0E0E0 0%, #FCFCFC 70.83%, #D5D5D5 100%);
    
}
.header_row {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_text_nov {
    font-family: "Play";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    
}

.header-item {
    padding: 0 35px;
}
