
  .foter {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .centr {
    position: absolute;
    display: inline-block;
    padding: 0;

left: 0;  }

