.bg_robot_contur {
width: 36%;
    position: absolute;
    top: 100px;
    /* margin: 77px 0; */
    left: 740px;
    z-index: -1;
  }

  .title_courses {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  
    color: #ffffff;
    margin: 20px 0;
  }

  .left_container_courses {
    padding: 0 510px 0 0;
  }