.robot_bg {
    position: absolute;
    margin: 45px 0 43px 0;
    left: 39px;
    z-index: -1;
}

.right_side {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.open_text {
    width: 555px;
    margin-bottom: 155px;
}
