.inline_robots_bg {
  height: 594px;
  display: block;
    position: relative;
  }

  .img_robotsinline {
    position: absolute;
    display: block;
    margin:0 70px;
    /* left: 87px; */
    z-index: -1;
  }
