.robot_bg {
    position: absolute;
    width: 60%;
    margin: 45px 0 43px 0;
    left: 0;
    z-index: -1;
}
.static_right_text {
    max-width: 615px;
    margin: 30px 0;
    text-align: right;
    margin-top: 0;
}
.right_side {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 0;
}

.open_text {
    width: 555px;
    margin-bottom: 75px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet-active {
    height: 30px;
    width: 30px;
    background: url(../images/circlewhite-min.png);
    /*  background: linear-gradient(302.82deg, #2a2a2a 10.6%, #d0d0d0 83.22%);
box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.41);
border-radius: 50%;
border: 10px solid linear-gradient(302.82deg, rgb(138, 138, 138) 10.6%, rgb(255, 255, 255) 83.22%); */
}

.swiper-pagination-bullet {
    height: 30px;
    width: 30px;
    background: url(../images/circlewhite-min.png);
    background-position: center;
    /* background: linear-gradient(302.82deg, rgb(255, 255, 255) 10.6%, rgb(138, 138, 138) 83.22%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.41);
    border-radius: 50%;
    border: 5px solid rgb(99, 99, 99) */ /* linear-gradient(302.82deg, rgb(138, 138, 138) 10.6%, rgb(255, 255, 255) 83.22%) */
}
/* .swiper-pagination-clickable {
    border: 2px solid red;
} */


