.bg_4_robot_contur {
  width: 43%;
  position: absolute;
  top: 140px;
  /* margin: -46px 0; */
  left: 632px;
  z-index: -1;
  }

  .title_courses {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  
    color: #ffffff;
    margin: 20px 0;
  }

  .left_container_courses {
    padding: 0 510px 0 0;
  }