.bg_5_robot_contur {
  width: 37%;
  top: 100px;
  position: absolute;
  margin: -26px 0;
  left: 742px;
  z-index: -1;
  }

  .title_courses {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  
    color: #ffffff;
    margin: 20px 0;
  }

  .left_container_courses {
    padding: 0 510px 0 0;
  }