
iframe {
  border-radius:10px;
}

.bg_address {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
  }

  .address_row {
    display: flex;
    justify-content: flex-end;

  }

   /* .block {
     width: 20px;
   } */
.block_map {
  
}
  .address_container {
    width: 391px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .icons {
    margin: 7.5px 0 7.5px 16px;
  }
  .text_number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    white-space: nowrap;
    color: #ffffff;
    margin: auto 0;
  }

  .title_contact {
    font-family: "Play", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;

    color: #ffffff;
  }
  .flex_row_nav_col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }