.container {
    width: 1140px;
    margin: 0 auto;
}

.container_midle {
    padding: 70px 0;
}
.container_relative {
    position: relative;
}
.flex_row_nav {
    display: flex;
}
.flex_row_nav_cul {
    display: flex;
    justify-content: space-between;
}

.lang_icons {
    display: flex;
    justify-content: space-between;
}

.lang-item {
    padding: 0 4.4px;
    display: flex;
}



.text_row {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.title_blocks {
    font-family: "Play", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;

    color: #ffffff;

    /* text-shadow: 0px 0px 4px #ffffff; */
    margin-bottom: 60px;
}

.title_blocks_middle {
    font-family: "Play", Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;

    color: #ffffff;

    /* text-shadow: 0px 0px 4px #ffffff; */
    margin-bottom: 40px;
}

.text_row_middle {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.point_row {
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.title_point {
    font-family: "Play";
    font-weight: 300;
    font-size: 39px;
    line-height: 45px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    margin-right: 20px;
}

.icon_point_down {
    cursor: pointer;
    transition: 0.2s;
}
.icon_point_scale {
    transform: scale(1.1);
    transition: 0.2s;
    /*   box-shadow:0 0 20px rgb(5, 247, 255); */
}
.up {
    transform: rotate(180deg) scale(1.1);
    transition: 0.5s;
}
.down {
    transition: 0.5s;
}

.line_unpoint {
    height: 4px;
    background: linear-gradient(
        90deg,
        #393939 0%,
        #575757 75.61%,
        #626262 99.43%
    );
}

.dropdown {
    display: block;
    transition: 1s;

    max-height: 0px;
    overflow: hidden;
}

.dropdownActive {
    max-height: 1000px;
}
.prod_text {
    cursor: pointer;
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
   /*  line-height: 35px; */
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #ffffff;
    white-space: nowrap;
}
.prod_text_a {
    color: #00e0ff;
    text-shadow: 0px 0px 3px #d2d2d2;
}
.microchip {
    position: absolute;
    left: 437px;
    z-index: -1;
    top:0;
  }
 

.inline_robots_bg {
    height: 594px;
    display: block;
      position: relative;
    }
  
.img_robotsinline {
      position: absolute;
      display: block;
      margin:0 70px;
      /* left: 87px; */
      z-index: -1;
    }
    /* ниже репиды для versel */
    .bg_address {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
      }
      .address_row {
        display: flex;
        justify-content: flex-end;
    
      }
    
       .block {
         width: 20px;
       }
    
      .address_container {
        width: 391px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
    
      .icons {
        margin: 7.5px 0 7.5px 16px;
      }
      .text_number {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: right;
        white-space: nowrap;
        color: #ffffff;
        margin: auto 0;
      }
    

      .flex_row_nav_col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

     