.footer_row {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_row {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.footer {
    background: #6f6f6f;
}
