
.earth {
    background: url(../images/BGEarth.png) center center/cover no-repeat;
    min-height: 885px;
  }

  .title_row {
    height: 835px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .epsilan_white {
    padding: 164px 0 0 0;
  }

  .title_eps {
    padding: 90px 0 0 0;
  }

  .title_text {
    font-family: "Play";
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
  
    color: #ffffff;
  }