.employee_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box_item {
    padding: 0 15px;
  }
  .box_item:first-child {
    padding-left: 0;
  }
  .box_item:last-child {
    padding-right: 0;
  }

  .employee_img {
    border-radius: 20px;
  }